<%= form_for(@life_insurance) do |f| %>
  <% if @life_insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@life_insurance.errors.count, "error") %> prohibited this life_insurance from being saved:</h2>

      <ul>
      <% @life_insurance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reviewable %><br>
    <%= f.check_box :reviewable %>
  </div>
  <div class="field">
    <%= f.label :monthly_premium_base %><br>
    <%= f.number_field :monthly_premium_base %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
