<p id="notice"><%= notice %></p>

<p>
  <strong>Car registration number:</strong>
  <%= @car_insurance_quote.car_registration_number %>
</p>

<p>
  <strong>Car modified:</strong>
  <%= @car_insurance_quote.car_modified %>
</p>

<p>
  <strong>Car purchase date:</strong>
  <%= @car_insurance_quote.car_purchase_date %>
</p>

<p>
  <strong>Owner and keeper:</strong>
  <%= @car_insurance_quote.owner_and_keeper %>
</p>

<p>
  <strong>Car usage:</strong>
  <%= @car_insurance_quote.car_usage %>
</p>

<p>
  <strong>Annual distance:</strong>
  <%= @car_insurance_quote.annual_distance %>
</p>

<p>
  <strong>Car storage:</strong>
  <%= @car_insurance_quote.car_storage %>
</p>

<p>
  <strong>Total cars owned:</strong>
  <%= @car_insurance_quote.total_cars_owned %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @car_insurance_quote.car_model %>
</p>

<p>
  <strong>Applicant first name:</strong>
  <%= @car_insurance_quote.applicant_first_name %>
</p>

<p>
  <strong>Applicant surname:</strong>
  <%= @car_insurance_quote.applicant_surname %>
</p>

<p>
  <strong>Applicant gender:</strong>
  <%= @car_insurance_quote.applicant_gender %>
</p>

<p>
  <strong>Applicant date of birth:</strong>
  <%= @car_insurance_quote.applicant_date_of_birth %>
</p>

<p>
  <strong>Applicant marital status:</strong>
  <%= @car_insurance_quote.applicant_marital_status %>
</p>

<p>
  <strong>Applicant children under16:</strong>
  <%= @car_insurance_quote.applicant_children_under16 %>
</p>

<p>
  <strong>Applicant occupation:</strong>
  <%= @car_insurance_quote.applicant_occupation %>
</p>

<p>
  <strong>Applicant employer type:</strong>
  <%= @car_insurance_quote.applicant_employer_type %>
</p>

<p>
  <strong>Applicant address:</strong>
  <%= @car_insurance_quote.applicant_address %>
</p>

<p>
  <strong>Applicant postcode:</strong>
  <%= @car_insurance_quote.applicant_postcode %>
</p>

<p>
  <strong>Applicant phone number:</strong>
  <%= @car_insurance_quote.applicant_phone_number %>
</p>

<p>
  <strong>Applicant previous claim:</strong>
  <%= @car_insurance_quote.applicant_previous_claim %>
</p>

<p>
  <strong>Applicant motoring offences:</strong>
  <%= @car_insurance_quote.applicant_motoring_offences %>
</p>

<p>
  <strong>Applicant convictions:</strong>
  <%= @car_insurance_quote.applicant_convictions %>
</p>

<%= link_to 'Edit', edit_car_insurance_quote_path(@car_insurance_quote) %> |
<%= link_to 'Back', car_insurance_quotes_path %>
