<p id="notice"><%= notice %></p>

<p>
  <strong>Cover amount:</strong>
  <%= @lifequote.cover_amount %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @lifequote.cover %>
</p>

<p>
  <strong>Cover type:</strong>
  <%= @lifequote.cover_type %>
</p>

<p>
  <strong>Cover duration:</strong>
  <%= @lifequote.cover_duration %>
</p>

<p>
  <strong>Joint cover:</strong>
  <%= @lifequote.joint_cover %>
</p>

<p>
  <strong>Monthly payment:</strong>
  <%= @lifequote.monthly_payment %>
</p>

<p>
  <strong>Applicant title:</strong>
  <%= @lifequote.applicant_title %>
</p>

<p>
  <strong>Applicant firstname:</strong>
  <%= @lifequote.applicant_firstname %>
</p>

<p>
  <strong>Applicant lastname:</strong>
  <%= @lifequote.applicant_lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lifequote.email %>
</p>

<p>
  <strong>Applicant date of birth:</strong>
  <%= @lifequote.applicant_date_of_birth %>
</p>

<p>
  <strong>Applicant phone:</strong>
  <%= @lifequote.applicant_phone %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @lifequote.smoking %>
</p>

<p>
  <strong>Joint applicant title:</strong>
  <%= @lifequote.joint_applicant_title %>
</p>

<p>
  <strong>Joint applicant firstname:</strong>
  <%= @lifequote.joint_applicant_firstname %>
</p>

<p>
  <strong>Joint applicant lastname:</strong>
  <%= @lifequote.joint_applicant_lastname %>
</p>

<p>
  <strong>Joint applicant date of birth:</strong>
  <%= @lifequote.joint_applicant_date_of_birth %>
</p>

<p>
  <strong>Joint applicant smoking:</strong>
  <%= @lifequote.joint_applicant_smoking %>
</p>

<%= link_to 'Edit', edit_lifequote_path(@lifequote) %> |
<%= link_to 'Back', lifequotes_path %>
