<nav class="top-bar shadow" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
		<%= link_to image_tag("logoblue.png", width: 150, alt: "Compare Insurance and financial products with Moneybaby"), root_path %>
	 </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
	 <ul class="right">
		<% if signed_in? %>
			<li class="has-dropdown">
			<% if current_admin %>
			<a><%= current_admin.username %></a>
			<ul class="dropdown">
				<li><%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
			</ul>
				<% elsif current_user %>
				<a><%= current_user.username %></a>
				<ul class="dropdown">
					<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
				</ul>
				<% else current_vendor %>
				<a><%= current_vendor.email %></a>
				<ul class="dropdown">
					<li><%= link_to "Logout", destroy_vendor_session_path, :method => :delete %>
				</ul>
			<% end %>
			</li>
		<% else %>
			<li><%= link_to "Log in", new_user_session_path %></li>
		<% end %>
	 </ul>

	 <ul class="left">
		<li class="has-dropdown">
			<a>Insurance</a>
			<ul class="dropdown">
				<li><%= nav_link 'Life Insurance', life_insurances_path %></li>
				<li><%= nav_link 'Car Insurance', car_insurances_path %></li>
			</ul>
		</li>
	
		<li class="triangle-isosceles"><a>Money</a></li>
		<li><a>Blog</a></li>
		<li><%= link_to_function "More", "$('#drawer').slideToggle(200);" %></li>
	 </ul>
	</section>
</nav>